/* From Uiverse.io by gharsh11032000 */

/*карточки about section*/
.card-container {
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.card {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: #CEA0F1;
}

.card .front-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}

.card .front-content p {
    font-size: 26px;
    font-weight: 700;
    opacity: 1;
    background: linear-gradient(-45deg,#B85CFF  0%,#5C00A3  100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}

.card .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    background: linear-gradient(-45deg, #5C00A3 0%, #B85CFF 100%);
    color: white;
    padding: 20px;
    line-height: 1.5;
    border-radius: 5px;
    pointer-events: none;
    transform: translateX(-96%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card .content .title {
    font-size: 20px;
    font-weight: 700;
}

.card:hover .content {
    transform: translateY(0);
}

.card:hover .front-content {
    transform: translateX(-30%);
}

.card:hover .front-content p {
    opacity: 0;
}

/* From Uiverse.io by Pravins01 */

/*карточки neuro_use section*/
.neuro_use_section_card {
    position: relative;
    width: 300px;
    height: 190px;
    background-color: #F4E6FF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
    color: black;
}

.neuro_use_h3 {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    margin: 20px;
}


.neuro_use_section_card::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 310px;
    height: 200px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.neuro_use_section_card::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}

.neuro_use_section_title {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
}

.neuro_use_section_card p:not(.neuro_use_section_title) {
    font-size: 14px;
}

.neuro_use_section_card:hover::after {
    filter: blur(30px);
}

.neuro_use_section_card:hover::before {
    transform: rotate(-90deg) scaleX(0.65) scaleY(1.55);
}

/*button animation*/
/* From Uiverse.io by gharsh11032000 */
.learn_more_button {
    position: relative;
    margin: 50px;
    width: 150px;
    height: 40px;
    background-color: #5C00A3;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: none;
    padding: 3px;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
}

.learn_more_button::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -4px;
    top: -1px;
    margin: auto;
    width: 158px;
    height: 50px;
    border-radius: 20px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.learn_more_button::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100%);
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}

.learn_more_button:hover::after {
    filter: blur(30px);
}

.learn_more_button:hover::before {
    transform: rotate(-180deg);
}

.learn_more_button:active::before {
    scale: 0.7;
}

/*анимация куба*/

/* From Uiverse.io by csemszepp */
@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.container {
    transform: skewY(-20deg);
    animation: animate 5s linear infinite;

    .cube {
        position: relative;
        z-index: 2;

        &:nth-child(2) {
            z-index: 1;
            translate: -60px -60px;
        }

        &:nth-child(3) {
            z-index: 3;
            translate: 60px 60px;
        }

        div {
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: 30px;
            translate: calc(-70px * var(--x)) calc(-60px * var(--y));

            span {
                position: relative;
                display: inline-block;
                width: 50px;
                height: 50px;
                background: #dcdcdc;
                z-index: calc(1 * var(--i));
                transition: 1.5s;

                &:hover {
                    transition: 0s;
                    background: #ef4149;
                    filter: drop-shadow(0 0 30px #ef4149);

                    &:before,
                    &:after {
                        transition: 0s;
                        background: #ef4149;
                    }
                }

                &:before {
                    content: "";
                    position: absolute;
                    left: -40px;
                    width: 40px;
                    height: 100%;
                    background: #fff;
                    transform-origin: right;
                    transform: skewY(45deg);
                    transition: 1.5s;
                }

                &:after {
                    content: "";
                    position: absolute;
                    top: -40px;
                    left: 0px;
                    width: 100%;
                    height: 40px;
                    background: #f2f2f2;
                    transform-origin: bottom;
                    transform: skewX(45deg);
                    transition: 1.5s;
                }
            }
        }
    }
}

/*spinning-number*/

/* From Uiverse.io by SelfMadeSystem */
/*
Inspired by www.doi.org
More comprehensive version at shenanigans.shoghisimon.ca/collection/spinning-numbers/
 */

.spinning-number {
    position: absolute;
    top: 50%;
    right: 12%;
    font-size: 1em;
    opacity: 0.2;
}

.spinning-number .wheel {
    animation: spinning-number-spin var(--t) linear infinite var(--r1);
}

@keyframes spinning-number-spin {
    0% {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.spinning-number .number {
    position: absolute;
    transform: translate(-50%, -50%) rotate(var(--a))
    translateY(calc(var(--l) * -1)) scale(var(--s));
}

.spinning-number .number::before {
    content: "1";
    --z: 1.9;
    --r: normal;
    transform: translate(-50%, -50%);
    animation: spinning-number-changing calc(var(--t) * var(--z))
    calc(-1 * var(--z) * var(--t) * var(--i) / var(--m) - 60s) linear infinite
    var(--r);
}

@keyframes spinning-number-changing {
    0% {
        content: "1";
    }
    to {
        content: "0";
    }
}

