/* From Uiverse.io by gharsh11032000 */

/*карточки about section*/
.card-container {
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.card {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.card .front-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}

.card .front-content p {
    font-size: 26px;
    font-weight: 700;
    opacity: 1;
    background: linear-gradient(-45deg, #5C00A3 0%, #B85CFF 100% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
}

.card .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    background: linear-gradient(-45deg, #5C00A3 0%, #B85CFF 100% );
    color: white;
    padding: 20px;
    line-height: 1.5;
    border-radius: 5px;
    pointer-events: none;
    transform: translateX(-96%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card .content .title {
    font-size: 20px;
    font-weight: 700;
}

.card:hover .content {
    transform: translateY(0);
}

.card:hover .front-content {
    transform: translateX(-30%);
}

.card:hover .front-content p {
    opacity: 0;
}

/* From Uiverse.io by Pravins01 */

/*карточки neuro_use section*/
.neuro_use_section_card {
    position: relative;
    width: 300px;
    height: 190px;
    background-color: #F4E6FF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
    color: black;
}

.neuro_use_h3 {
    display: flex;
    align-items: flex-end;
    gap: 5px;
    margin: 20px;
}


.neuro_use_section_card::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 310px;
    height: 200px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.neuro_use_section_card::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}

.neuro_use_section_title {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
}

.neuro_use_section_card p:not(.neuro_use_section_title) {
    font-size: 14px;
}

.neuro_use_section_card:hover::after {
    filter: blur(30px);
}

.neuro_use_section_card:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}

