* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 800px;
    margin: 0 auto;
    font-family: Andale Mono, monospace;
    text-transform: uppercase;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background-color: #FAFCF9;
}

.header {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.header {
    margin-top: 10px;
}

h1 {
    margin: 10px 0;
}

.nav_menu {
    display: flex;
    flex-direction: column;
    gap: 5px;

    list-style-position: inside;
    padding-left: 0;
    align-content: space-around;
    flex-wrap: wrap;
    text-align: left;
}

.footer {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.footer_info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 5px;
}

.footer_link {
    font-size: 16px;
}

@keyframes lineAppear {
    to {
        transform: translateX(-50%) scaleX(1);
    }
}

a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: color 0.3s;
    position: relative;
    display: inline-block;
}

.nav_link:hover,
.footer_link:hover {
    color: #C2B6AE;
}

.nav_link:hover::after,
.footer_link:hover::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 100%;
    height: 2px;
    background-color: #C2B6AE;
    transform: translateX(-50%) scaleX(0);
    animation: lineAppear 0.3s ease forwards;
}

/*
@keyframes pulse {
    0% { box-shadow: 0 0 5px #353935; }
    50% { box-shadow: 0 0 20px #353935; }
    100% { box-shadow: 0 0 5px #353935; }
}

.footer_icon {
    transform: translateY(4px);
    border-radius: 50%;
}

.footer_icon:hover {
    animation: pulse 1s infinite;
}
*/
