* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 150%;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Vivo Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Vivo Sans'), url('vivoSansGlobal-Light.ttf') format('truetype');
}

body {
    max-width: 100%;
    margin: 0 auto;
    font-family: Vivo Sans, monospace;
    line-height: 1.4;
    background-image: linear-gradient(to right, #5C00A3, #B85CFF);
    color: white;
}

section {
    max-width: 1000px;
    margin: 0 auto;
}

/*header*/

header {
    background-color: rgba(92, 0, 163, 0.7);
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header {
    display: flex;
    justify-content: center;
}

.nav_menu_link,
.footer_link,
.footer_contacts_link {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.nav_menu_link:hover,
.footer_link:hover,
.footer_contacts_link:hover {
    color: #CC8AFF;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav_logo {
    display: flex;
    align-items: center;
}

.img_logo {
    transform: translateY(-2px);
}

.nav_menu {
    display: flex;
    gap: 20px;
}

/*heading*/

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px auto;
}

h1 {
    font-size: 50px;
    margin: 30px 0 15px 0;
}

/*about*/

.about, .how_works {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 50px 0 70px 0;
    gap: 30px;
    border-radius: 10px;
}

.info_section {

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    font-size: 15px;
    width: 100%;
    gap: 15px;
}

h2 {
    color: #5C00A3;
    margin-top: 20px;
    text-align: center;
}

/*neuro_use*/

.neuro_use {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    gap: 30px;
}

.neuro_use_title,
.future_section_title {
    color: white;
}

.neuro_use_section {
    font-size: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/*how_works*/

.how_works {
    position: relative;
    overflow: hidden;
}

.how_works_section_points {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.how_works_section_point {
    display: grid;
    grid-template-columns: 50px 15px 1fr;
    border: 1px solid #CEA0F1;
    border-radius: 10px;
    padding: 10px;
    align-items: start;
}

h3 {
    background: linear-gradient(-45deg,#B85CFF  0%,#5C00A3  100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.how_works_section_point_number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: linear-gradient(to right, #5C00A3, #B85CFF);
    font-weight: bold;
    font-size: 20px;
}

.how_works_section_point_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: black;
}

/*future*/

.future {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    gap: 30px;
}

.future_section_info {
    margin-top: 50px;
    display: grid;
    width: 100%;
    grid-template-columns: 50% 30%;
    align-items: center;
}

.container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.future_section_info_text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px;
}

/*footer*/

.footer {

    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 150px;
    background-color: rgba(92, 0, 163, 0.7);
    height: 200px;
}

.footer_contacts_link {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

@media (max-width: 1000px) {

    .neuro_use_section {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .future_section_info_text {
        text-align: center;
    }

    .future_section_info {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .container {
        margin: 150px 0 100px 0;
    }

}

@media (max-width: 569px) {

    html, body {
        height: auto;
    }

    header {
        height: auto;
    }

    .nav {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .nav_menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 5px;
    }
}

@media (max-width: 499px) {
    footer {
        flex-direction: column;
        text-align: center;
    }
}