*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-family: Andale Mono, monospace;
}

