* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Vivo Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Vivo Sans'), url('/fonts/vivoSansGlobal-Light.ttf') format('truetype');
}

body {
    max-width: 100%;
    margin: 0 auto;
    font-family: Vivo Sans, monospace;
    line-height: 1.4;
    background-image: linear-gradient(to right, #5C00A3, #B85CFF);
    color: white;
}

/*header*/

header {
    background-color: rgba(92, 0, 163, 0.7);
    height: 60px;
}

.header {
    display: flex;
    justify-content: center;
}

.nav_menu_link {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.nav_menu_link:hover {
    color: #CC8AFF;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav_logo {
    display: flex;
    align-items: center;
}

.img_logo {
    transform: translateY(-2px);
}

.nav_menu {
    display: flex;
    gap: 20px;
}